.App {
  text-align: center;
  background: #f2f7f9;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-start {
  margin-top: 20px;
  min-height: 100vh;
}

/* Typography */

.page-title {
  text-align: left;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 28px;
  float: left;
  margin-left: 20px;
}

/*  Navbar*/

.navbar {
  margin-bottom: 0px;
}
.navbar,
.navbar-default {
  background-color: #19334d;
  color: white;
  min-height: 62px;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-size: 20px;
  border-radius: 0px 0px 4px 4px;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 20px;
  color: #e4f8ff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #37aef5;
}
.navbar-default .navbar-nav > li > a:active {
  color: #37aef5;
}

.nav-item {
  color: white;
}

.navbar-brand {
  height: 59px;
}

/* Page Header */

.page-heading {
  display: flex;
  border-bottom: 1px solid #cbd6e2;
  margin: 15px 3px;
}

.add-btn-span {
  flex: 1;
}

.ReactTable {
  margin: 0 20px;
}

.rt-td {
  background: #e5f9ff;
}

/* Navbar */

.nav-link {
  color: rgb(0, 162, 255);
}

.navlinks {
  margin-right: 10px;
  color: white;
}

.navlinks:active {
  text-decoration: none;
}
.navlinks:hover {
  text-decoration: none;
  color: #00eccf;
}
.navlinks:focus {
  text-decoration: none;
}

.ReactTable .rt-noData {
  z-index: 0 !important;
}
/* 
.slide-pane__header {
  background-image: linear-gradient(
    to right top,
    #39b6bb,
    #13b8cd,
    #00b9e0,
    #00b8f1,
    #39b6ff
  );
} */

/* Forms */

.add-form label {
  text-align: left;
}

.add-form input {
  padding: 9px 10px;
  border-radius: 3px;
  border: 1px solid #cbd6e2;
  font-size: 16px;
  transition: all 0.15s ease-out;
  background-color: #f5f8fa;
  color: #33475b;
  display: block;
  height: 40px;
  line-height: 22px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

.add-form input[type="submit"] {
  background-image: linear-gradient(
    to right top,
    #39b6bb,
    #13b8cd,
    #00b9e0,
    #00b8f1,
    #39b6ff
  );
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 24px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  -webkit-font-smoothing: auto;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.add-button {
  float: right;
  height: 100%;
  font-weight: 500;
  background-image: linear-gradient(
    to right top,
    #39b6bb,
    #13b8cd,
    #00b9e0,
    #00b8f1,
    #39b6ff
  );
  border: none;
  color: white;
  border-radius: 4px;
  flex: 1 1;
}
.add-button:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.094);
  box-shadow: 0 10px 50px -5px rgba(51, 71, 91, 0.12);
}

/* Modal */

.slide-pane__header {
  background-image: linear-gradient(
    to right top,
    #39b6bb,
    #13b8cd,
    #00b9e0,
    #00b8f1,
    #39b6ff
  );
}

.modal-title {
  float: left;
}

.exit-modal {
  border-radius: 5px;
  border: 0px;
  float: right;
  background-image: linear-gradient(
    to right top,
    #39b6bb,
    #13b8cd,
    #00b9e0,
    #00b8f1,
    #39b6ff
  );
}

.table-delete-btn {
  color: #333333;
  background: none;
  border: none;
}

.single-delete-btn {
  color: #5c5c5c;
  background: none;
  border: none;
  width: 100%;
  text-align: right;
}

.table-delete-btn:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.514);
}

.single-delete-btn:hover {
  transition: 0.2s ease-in-out;
  color: #00b8f1;
}
