.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Influencers Page */

/* Influencers Filter */

#influencersfilterdiv {
  float: left;
  margin: 5px;
  border: solid 1px lightblue;
}
/* Influencer Table */
#influencer-table {
  margin: auto;
  color: #2e3f4e;
  background: #f6f6f6;
  border-radius: 5px;
}

#influencer-table-heading {
  background: #e5f9ff;
  font-size: 1.2em;
}
