.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Typography */

.page-title {
  text-align: left;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-left: 20px;
}

/*  Navbar*/

.navbar,
.navbar-default {
  background-color: #19334d;
  color: white;
  min-height: 62px;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 20px;
  color: #e4f8ff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #37aef5;
}
.navbar-default .navbar-nav > li > a:active {
  color: #37aef5;
}

.nav-item {
  color: white;
}

/* Page Header */

.page-heading {
  border-bottom: 1px solid #cbd6e2;
  margin: 15px 3px;
}
/* Influencers Page */

/* Influencers Filter */

#influencersfilterdiv {
  float: left;
  margin: 5px;
  border: solid 1px lightblue;
}
/* Influencer Table */
#influencer-table {
  margin: auto;
  color: #2e3f4e;
  background: #f6f6f6;
  border-radius: 5px;
}

#influencer-table-heading {
  background: #e5f9ff;
  font-size: 1.2em;
}

.ReactTable {
  margin: 0 20px;
}

.rt-td {
  background: #e5f9ff;
}
