/* Influencers Page */

/* Influencers Filter */

#influencersfilterdiv {
  float: left;
  margin: 5px;
  border: solid 1px lightblue;
}
/* Influencer Table */
#influencer-table {
  margin: auto;
  color: #2e3f4e;
  background: #f6f6f6;
  border-radius: 5px;
}

#influencer-table-heading {
  background: #e5f9ff;
  font-size: 1.2em;
}

/* Add influencer button */
.add-button {
  float: right;
  height: 100%;
  font-weight: 500;
  background-image: linear-gradient(
    to right top,
    #39b6bb,
    #13b8cd,
    #00b9e0,
    #00b8f1,
    #39b6ff
  ) !important;
  border: none;
  color: white;
  border-radius: 4px;
  flex: 1;
}
/* Modal */

.slide-pane__header {
  background-image: linear-gradient(
    to right top,
    #39b6bb,
    #13b8cd,
    #00b9e0,
    #00b8f1,
    #39b6ff
  );
}

.modal-title {
  float: left;
}

.exit-modal {
  border-radius: 5px;
  border: 0px;
  float: right;
  background-image: linear-gradient(
    to right top,
    #39b6bb,
    #13b8cd,
    #00b9e0,
    #00b8f1,
    #39b6ff
  );
}
