.homepage {
  background: #f2f7f9;
}

.carousel-div html {
  height: 100%;
  overflow: hidden;
}

.carousel-div body {
  color: black;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.stuff {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  background: none;
}

.stuff h1 {
  margin-top: -100px;
  color: #436980;
}

.stuff,
.stuff:before {
  background: 25% 25% / cover;
}

.stuff::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  /* background-image: url("../../mockupbuzzsuite.jpg"); */
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.stuff * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.carousel-item {
  width: 880px;
  margin: 50px 0px;
  padding: 100px 100px;
}

.bodyCopy {
  background-color: #436980;
  height: 1200px;
  padding: 100px 0px;
}

.bodyCopy p {
  margin: 0px 200px 50px 200px;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 50;
  font-size: 25px;
  color: white;
}

.signUp {
  background: #436980;
  width: 200px;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  color: white;
}

img.social {
  size: 50px;
  margin-left: 80px;
}

.bodyCopy h1 {
  font-weight: 1300;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bold;
}
.headboard-image {
  background-image: url("../../buzzsuite-headboard-img.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 70vh;
}

.home-headboard {
  display: flex;
  padding: 60px 20px;
}

.home-intro-text {
  text-align: left;
  padding-right: 16%;
}
.home-main-text {
  text-align: left;
  font-size: 2.4em;
  padding-bottom: 10px;
}

.signup-button-home {
  border-radius: 4px;
  margin-top: 10px;
  border: none;
  width: 90%;
  height: 40px;
  color: white;
  /* background-image: linear-gradient(
    to right top,
    #39b6bb,
    #13b8cd,
    #00b9e0,
    #00b8f1,
    #39b6ff
  ); */

  background: rgb(42, 74, 145);
  background: linear-gradient(
    56deg,
    rgba(42, 74, 145, 1) 0%,
    rgba(66, 140, 191, 1) 100%
  );
}

.signup-button-home:hover {
  box-shadow: 0 10px 50px -5px rgba(51, 71, 91, 0.12);
  transition: 0.3s ease-in-out;
  transform: scale(1.014);
}

.home-image-column {
  flex: 3;
}

.home-image {
  flex: 1;
  width: 60%;
}

.home-text-column {
  flex: 3;
  padding: 0px 50px;
  font-size: 1.2em;
  margin: auto;
}

/* media screens */

/* body rows */

.home-row {
  display: flex;
  margin: 60px;
  padding: 15px;
  background: white;
}

.home-row:hover {
  box-shadow: 0 10px 50px -5px rgba(51, 71, 91, 0.12);
  transition: 0.2s ease-in-out;
  transform: scale(1.014);
}

.home-subtitle {
  font-size: 1.6em;
}
.home-content {
  font-size: 1.2em;
}

/* contact */

.home-contact-div {
  background: #2a4a91;
  color: white;
  min-height: 200px;
}

.home-contact-content {
  margin: auto;
  height: 100%;
}
