/* html {
  height: 100%;
  overflow: hidden;
}


body {
  color: black;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Luna";
} 


.stuff {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  background: none;
}

.stuff h1 {
  margin-top: -100px;
  color: #436980;
}

.stuff,
.stuff:before {
  background: 25% 25% / cover;
}

.stuff::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url("../../mockupbuzzsuite.jpg");
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.stuff * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.carousel-item {
  width: 880px;
  margin: 50px 0px;
  padding: 100px 100px;
}

.bodyCopy {
  background-color: #436980;
  height: 1200px;
  padding: 100px 0px;
}

p {
  margin: 0px 200px 50px 200px;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  font-weight: 50;
  font-size: 25px;
  color: white;
}

button {
  background: #436980;
  border: none;
  border-radius: 5px;
  width: 200px;
  /* font-size: 25px; */
  /* bottom: 100px;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
} */

img.social {
  size: 50px;
  margin-left: 80px;
}
/* 
img.d-block w-100 {
  margin: 25px 0px;
} */

h1 {
  font-weight: 1300;
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bold;
}

/* .home {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url("../../mockupbuzzsuite.jpg");
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
} */
