.login-modal,
.forgot-password-modal {
  align-content: center;
  background: #e8eef2;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  min-height: 200px;
  box-shadow: 0px 0px 13px -6px black;
}
.login-form-input,
.forgot-password-form-input {
  clear: both;
  margin: 5px;
  width: 75%;
  border-bottom: solid 1px red;
  background: none;
  border: 0;
  text-align: center;
  font-size: 1.2em;
}

.login-form-button,
.signup-form-button {
  background: #349fdf;
  border: none;
  border-radius: 5px;
  line-height: 2em;
  width: 65%;
}

.login-form-button:hover,
.signup-form-button:hover {
  box-shadow: 0 10px 50px -5px rgba(51, 71, 91, 0.12);
  transition: 0.2s ease-in-out;
  transform: scale(1.014);
}

.signIn {
  background-color: #436980;
  border: none;
  border-radius: 5px;
  width: 65%;
  color: white;
  margin-top: 4px;
}
