.login-modal,
.signup-modal {
  align-content: center;
  background: #e8eef2;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  min-height: 200px;
  box-shadow: 0px 0px 13px -6px black;
}
.login-form-input,
.signup-form-input {
  clear: both;
  margin: 5px;
  width: 75%;
  border-bottom: solid 1px red;
  background: none;
  border: 0;
  text-align: center;
  font-size: 1.2em;
}

.signup-form button {
  background: #349fdf;
  border: none;
  font-size: 1.2em;
  border-radius: 5px;
  width: 65%;
}

.login-signup-modal-message {
  font-size: 2em;
}
